.Combatant {
    width: 130px;
    height: 45px;
    position: absolute;
    background: url(../images/ui/hud.png) no-repeat no-repeat;
}

.Battle .Combatant {
    transform: scale(1);
    transition: opacity 0.4s;
}
.Battle .Combatant[data-active="false"] {
    opacity: 0;
}
.Battle .Combatant[data-active="true"] {
    opacity: 1;
}

.Combatant[data-team='player'] {
    top: 50px;
    left: 10px;
}

.Combatant[data-team='enemy'] {
    top: 35px;
    right: 15px;
}

.Combatant_character_crop {
    position: absolute;
    bottom: 5px;
    left: 25px;
    width: 25px;
    height: 15px;
    overflow: hidden;
    z-index: 1;
}

.Combatant_character {
    /*display: block;*/
    /*position: absolute;*/
    /*left: -10px;*/
    /*bottom: 0;*/
    /* -- -- */
    display: block;
    position: absolute;
    left: -5px;
    bottom: -8px;
    transform: scale(0.5);
}

.Battle .Combatant_character_crop {
    display: none;
}

.Combatant_face {
    background: transparent;
    display: block;
    position: absolute;
    width: 31px;
    height: 31px;
    z-index: 1;
    top: 4px;
    left: 4px;
    padding: 0;
    margin: 0;
}

.Combatant_face img {
    width: 100%;
}


.Combatant_name {
    position: absolute;
    left: 64px;
    top: 6px;
    white-space: nowrap;
    background: transparent;
    color: #222;
    font-size: 2.8px;
    margin: 0;
    z-index: 0;
    text-shadow: 0.3px 0.3px #fff;
}

.Combatant_name span {
    position: absolute;
    top: 0;
    left: -21px;
}

.Combatant_type {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 10px;
    height: 10px;
    z-index: 1;
}

.Combatant_life_container {
    position: absolute;
    left: 46px;
    top: 12.5px;
    width: 80px;
    height: 5px;
}

.Combatant_life_container > rect {
    transition: all .3s;
}

.Combatant_xp_container {
    position: absolute;
    left: 46px;
    top: 17.5px;
    width: 80px;
    height: 5px;
}

.Combatant_level {
    position: absolute;
    font-size: 4px;
    left: 117.5px;
    top: 5px;
    width: 8px;
    height: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 1px black;
}

.Combatant_status {
    position: absolute;
    font-size: 5px;
    left: 50px;
    top: 23px;
    color: #fff;
    width: 75px;
}

.Combatant_status span {
    display: inline-block;
}

.Combatant_status[data-status='normal'] {
    color: #fff;
}
.Combatant_status[data-status='hard'] {
    color: #ec9641;
}
.Combatant_status[data-status='epic'] {
    color: #e65a5d;
}
.Combatant_status[data-status='legendary'] {
    color: #c4b632;
}

.Weapon {
    position: absolute;
    transform: scale(2);
    transition: opacity 0.4s, transform 0.4s;
    background: url(../images/characters/weapons/weapon-shadow.png) no-repeat no-repeat;
    image-rendering: pixelated;
}

.Weapon[data-team='player'] {
    bottom: 50px;
    left: 80px;
}

.Weapon[data-team='enemy'] {
    top: 75px;
    right: 70px;
}

.Weapon[data-active='false'] {
    opacity: 0;
    transform: translate3d(0,16px,0) scale(2);
}

.Weapon[data-active='true'] {
    opacity: 1;
    transform: translate3d(0,0,0) scale(2);
}