@import "text-messages.css";
@import "SceneTransition.css";

:root {
    --border-color: #291d4d;
    --dialog-backgroud: #fff3b4;
    --menu-background: #ffe8d2;
    --menu-border-color: #a48465;
    --menu-font-color: #3a160d;
    --menu-selected-background: #7fc2ff;
}

* {
    box-sizing: border-box;
}

body {
    background: #100e0e;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 360px;
    height: 200px;
    outline: 1px solid #fff;
    margin: 0 auto;

    transform: scale(3) translateY(50%);
}

.game-container canvas {
    image-rendering: pixelated;
}

