.Hud {
    position: absolute;
    left: 2px;
    top: 2px;
    image-rendering: pixelated;
}

.Hud .Combatant {
    position: relative;
    margin-bottom: 10px;
}

.Hud .Combatant_type {
    display:none;
}

.Hud .Combatant:not(:first-child) {
    display: none;
}