.text-message {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35px;
    padding: 4px;

    background: var(--menu-background);
    border-top: 1px solid var(--menu-border-color);
    color: var(--menu-font-color);
}

.text-message__text {
    margin: 0;
    font-size: 12px;
}

.text-message__text span {
    opacity: 0;
}
.text-message__text span.revealed {
    opacity: 1;
}

.text-message__button {
    margin: 0;
    padding: 0;
    font-size: 8px;
    appearance: none;
    background: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
    position: absolute;
    right: 2px;
    bottom: 0;
}